---
layout: default
top:
  - time: 6PM
    description: Arrive At Park
  - time: 7:30PM
    description: Video Showing
  - time: 10PM
    description: Last Drinks
bottom:
  - time: 7PM
    description: Nibbles and Speaches
  - time: 9PM
    description: Dancing
---

  </header>
  <!--Section 1 background image-->
  <section class="banner" style="background-image:url('/Images/dancing4.jpg')" ;>
    <!--no content a background image will go here-->
    <svg viewBox="0 0 1700 100" enable-background="new 0 0 1700 100" class="bottomTriangle">
        <polygon class="bgTriangle" points="0,2, 0,100 1700,100 1700,2 850,100"></polygon>
      </svg>
  </section>

  <!--Section 3 The Wedding date-->
<section class="weddingDate bgColored">
  <h1> ~ Saturday the 10th of November 2018 ~
  </h1>
</section>

  <!--Section 2 About us-->
  <section id="OurStory" class="grid">
    <h2 class="col-12-center"> Bride and Groom </h2>
    <div class="col-5_xs-6">
      <div class="polaroid">
        <img src="/Images/Carl.jpg">
        <h3> Carl Claassens </h3>
      </div>
    </div>

    <div class="heart col-2-middle_xs-0">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>

    <div class="col-5_xs-6">
      <div class="polaroid">
        <img src="/Images/Sara.jpg">
        <h3> Sara Kelly </h3>
      </div>
    </div>

    <!--Section 2.1 Our Story-->
    <div class="bgColored story">
      <h2> Our Story </h2>
      <p class="padded-5"> Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead </p>
    </div>

    <div id="AboutCarl" class="col-12 grid aboutStyle bgColored">
      <div class="col-6_xs-12 padded-2">
        <h2> Carl Claassens <h2>
      <p class="padded-5">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead. </p>
  </div>

  <div class="col-6_xs-12 grid">

      <div class="col-4">
        <img src="Images/carls/carlViperCrop.jpg">
      </div>

<div class="grid col-8">

      <div class="col-6">
        <img src="Images/carls/carlSplitsCrop.jpg">
      </div>

      <div class="col-6">
        <img src="Images\carls\serisierDancingCrop.jpg">
      </div>

      <div class="col-6">
        <img src="Images\carls\carlZombiCrop.jpg">
      </div>

      <div class="col-6">
        <img src="Images\carls\carlGlassesCrop.jpg">
      </div>
    </div> <!-- close col-6 -->
</div>

</div>
  <div id="AboutSara" class="grid aboutStyle bgColored">
    <div class="col-6_xs-12 grid">

          <div class="col-4">
            <img src="Images\saras\familyPhotoCrop.jpg">
          </div>

    <div class="grid col-8">

          <div class="col-6">
            <img src="Images\saras\serisierDancing2Crop.jpg">
          </div>

          <div class="col-6">
            <img src="Images\saras\leaninCrop.jpg">
          </div>

          <div class="col-6">
            <img src="Images\saras\leatherCrop.jpg">
          </div>

          <div class="col-6">
            <img src="Images\saras\engagedCrop.jpg">
          </div>
    </div>
      </div> <!-- close col-6 -->

    <div class="col-6_xs-12 padded-5">
      <h2> Sara Kelly <h2>
        <p class="padded-5">There are fixed points throughout time where things must stay exactly the way they are. This is not one of them. This is an opportunity! Whatever happens here will create its own timeline, its own reality, a temporal tipping point. The future revolves around you, here, now, so do good! Bow ties are cool. Frightened people. Give me a Dalek any day. Brave heart, Clara. Come along, Pond! Thank you, Strax. And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly be the first to know</p>
    </div>
  </div>
</section>


  <!--Section 4 Three Tile Buttons-->
<section class="grid-spaceAround tileGrey">
  <div class="col-3 tile">
    <a href="#TheWedding">
      <h2 class="paddedTB">The Wedding <i class="fa fa-heart" aria-hidden="true"></i></h2>
      <p class="paddedTB">Come along, Pond! Thank you, Strax. And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly be the first to know
      </p>
    </a>
      </div>

      <div class="col-3 tile">
        <a href="/blog.html">
          <h2 class="paddedTB"> Honey Moon Journal <i class="fa fa-pencil" aria-hidden="true"></i> </h2>
          <p class="paddedTB">Come along, Pond! Thank you, Strax. And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly be the first to know
          </p>
        </a>
      </div>

      <div class="col-3 tile">
        <a href="#AfterParty">
          <h2 class="paddedTB"> Happily Ever After Party<i class="fa fa-glass" aria-hidden="true"></i> </h2>
          <p class="paddedTB">Come along, Pond! Thank you, Strax. And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly be the first to know
          </p>
        </a>
      </div>

  </section>

  <!-- Section 5 Love Quote-->
  <section class="loveQuote bgColored">

      <h2> <i class="fa fa-quote-left" aria-hidden="true"></i>
       she knew she loved him when 'home' went from being a place to being a person
      <i class="fa fa-quote-right" aria-hidden="true"></i> </h2>

  </section>

  <!-- Section 6 The Wedding -->
  <section id="TheWedding" class="grid">
    <div class="col-6">
      <h2> Hotel Budir - Iceland <h2>
        <p class="padded-5">There are fixed points throughout time where things must stay exactly the way they are. This is not one of them. This is an opportunity! Whatever happens here will create its own timeline, its own reality, a temporal tipping point. The future revolves around you, here, now, so do good! Bow ties are cool. Frightened people. Give me a Dalek any day. Brave heart, Clara. Come along, Pond! Thank you, Strax. And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly be the first to know</p>
        <a class="seePhotos padded-2" href="photos.html"> See Photos </a>
    </div>

    <div class="col-6">
      <img src="Images/venue.jpg">
    </div>
  </section>

<!-- Section 9 Honeymoon blog preview -->
<section id="Blog" class="bgColored">
    <h1 class="padded-2"> Recent Journal Entries </h1>

<div class="grid">

    {% for post in site.posts limit:3 %}
      <div class="postPreview col-4">
    <a href="/blog.html" class="noDecoration">

        <img src="{{post.featured-image}}" />
        <h3> {{post.title}} </h3>
        <p> {{post.description}} </p>
        <p> {{post.date | date_to_long_string}} </p>
        <p> {{post.author}} </p>
      <a class="seePhotos padded-2" href="photos.html"> See Photos </a>
      
    </a>
</div>

    {% endfor %}

</div>

</section>

  <!--Section 7 Happily Ever After Party-->
<section id="AfterParty" class="grid">
  <div class="col-6">
    <h2> Happily Ever After Party</h2>
      <p class="padded-5">
        he future revolves around you, here, now, so do good! Bow ties are cool. Frightened people. Give me a Dalek any day. Brave heart, Clara. Come along, Pond! Thank you, Strax. And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly
        be the first to know.</p>
      <p class="padded-2 largeText"> <span>Date:</span> Saturday 15th December 2018</p>
      <p class="padded-2 largeText"> <span>Time:</span> 6pm to 11pm</p>
      <p class="padded-2 largeText"> <span>Location:</span> Wianamatta Regional Park</p>
      <a class="seePhotos padded-2" href="photos.html"> See Photos </a>
    </div>

    <div class="col-6 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5912.694358562966!2d150.7723947074563!3d-33.724789658827206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129b22a45dfc03%3A0xf017d68f9f2fb50!2sWianamatta+Regional+Park!5e0!3m2!1sen!2sau!4v1503471531978"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

<div class="tileGrey col-12">
    <div class="timeline-top grid">
      <!-- Timeline of evenings events goes here -->
    {% for top in page.top %}
      <div class="col-2">
        <p>{{top.time}}<br>{{top.description}}</p>
        <i class="fa fa-circle" aria-hidden="true"></i>
      </div>
      <div class="col-2">
        <!--EMPTY DIV-->
      </div>
    {% endfor %}
    </div>
    <div class="timeline-bottom grid">
      {% for bottom in page.bottom %}
      <div class="col-2">
        <!--Empty div-->
      </div>
      <div class="col-2">
        <i class="fa fa-circle" aria-hidden="true"></i>
        <p>{{bottom.time}}<br>{{bottom.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  </section>
