*{
  box-sizing:border-box;
  /*border:1px solid #D2527F;*/
  margin:0;
  padding:0;
}
img{max-width: 100%}

/*universial styles*/

/*-------------hearder section styles----------*/

/*-----Section 1 background image-----*/

/*-----Section 2 About Us-----*/

/*------Section 2.1 Our Story-----*/

/*-----Section 3 The Wedding Date-----*/

/*-----Section 4 Three Tile Buttons-----*/

/*-----Section 5 Love Quote-----*/

/*-----Section 6 The Wedding-----*/

/*-----Section 7 Happily Ever After Party----*/

/*-----Section 8 Footer RSVP form-----*/
